{% extends "base.html" %}
{% block title %}VectorLinux - Page Not Found{% endblock %}

{% block content %}
    <div id="error-page" class="box 404">
        <h2>404 - Page Not Found</h2>
        <p>Sorry, the page you've requested does not exist.</p>
    </div>
{% endblock %}

