{% extends "base.html" %}
{% block title %}VectorLinux - {{title}}{% endblock %}

{% block content %}
<div id="generic-form" class="box">

    <h2>{{title}}</h2>

    {{description}}
    {{form.non_field_errors}}

    <form class="general-form" method="post">{% csrf_token %}
        <fieldset>
            {% for field in form %}
            {{field.errors}}
            <p><label for="{{field.auto_id}}">{{field.label}}:</label>
            {% if field.help_text %}<br/><span class="form-help">{{field.help_text}}</span>{% endif %}
            {{field}}
            {% if field.field.required %}<span class="form-req-field">*</span>{% endif %}
            </p>
            {% endfor %}
        </fieldset>
        <p><label></label> <input type="submit" value="{{submit_text}}" /></p>
    </form>

</div>
{% endblock %}
