{% extends "base.html" %}

{% block content %}
<div class="box">
    <h2>Results for:
        {% if option %}{{ option.verbose_name|title }}: {{ value }}{% endif %}
        {{ iso_name|default:"" }}
    </h2>

    <p><a href="{% url releng-test-overview %}">Go back to testing results</a></p>

    <table id="releng-result" class="results">
        <thead>
            <tr>
                <th>ISO</th>
                <th>Submitted By</th>
                <th>Date Submitted</th>
                <th>Architecture</th>
                <th>Success</th>
            </tr>
        </thead>
        <tbody>
            {% for test in test_list %}
            <tr>
                <td>{{ test.iso.name }}</td>
                <td>{{ test.user_name }}</td>
                <td>{{ test.created|date }}</td>
                <td>{{ test.architecture }}</td>
                <td><span class="success-{{ test.success|yesno }}">{{ test.success|yesno|capfirst }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load cdn %}{% jquery %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}archweb.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".results:not(:has(tbody tr.empty))").tablesorter({widgets: ['zebra']});
});
</script>
{% endblock %}
