{% extends "base.html" %}

{% block title %}Arch Linux - Feedback - Thanks!{% endblock %}

{% block content %}
<div class="box">
    <h2>Thanks!</h2>
    <p>Thank you for taking the time to give us this information!
    Your results have been succesfully added to our database.</p>
    <p>You can now <a href="{% url releng-test-overview %}">go back to the results</a>,
    <a href="{% url releng-test-submit %}">give more feedback</a>, or
    have a look at the <a href="{% url releng-iso-overview %}">look at
    the ISO test overview</a>.</p>
</div>
{% endblock %}
