{% extends "base.html" %}
{% load cache %}
{% load package_extras %}

{% block title %}Arch Linux - {{ pkg.pkgname }} {{ pkg.full_version }} ({{ pkg.arch.name }}){% endblock %}
{% block navbarclass %}anb-packages{% endblock %}

{% load package_extras %}
{% block content %}
<div id="pkgdetails" class="box">

    <h2>Package Details: {{ pkg.pkgname }} {{ pkg.full_version }}</h2>

    <div id="detailslinks" class="listing">

        <div id="actionlist">
        <h4>Package Actions</h4>
            <ul class="small">
                <li>
                    <a href="{% scm_link pkg 'tree' %}" title="View source files for {{ pkg.pkgname }}">Source Files</a> /
                    <a href="{% scm_link pkg 'log' %}" title="View changes for {{ pkg.pkgname }}">View Changes</a>
                </li>
                <li>
                    <a href="{% bugs_list pkg %}" title="View existing bug tickets for {{ pkg.pkgname }}">Bug Reports</a> /
                    <a href="{% bug_report pkg %}" title="Report new bug for {{ pkg.pkgname }}">Add New Bug</a>
                </li>
                <li><a href="{% get_wiki_link pkg %}" title="Search wiki for {{ pkg.pkgname }}">Search Wiki</a></li>
                {% if pkg.flag_date %}
                <li><span class="flagged">Flagged out-of-date on {{ pkg.flag_date|date }}</span></li>
                {% with pkg.in_testing as tp %}{% if tp %}
                <li><span class="flagged">Version
                    <a href="{{ tp.get_absolute_url }}"
                        title="Testing package details for {{ tp.pkgname }}">{{ tp.full_version }}</a>
                    in testing</span></li>
                {% endif %}{% endwith %}
                {% if perms.main.change_package %}
                <li><a href="unflag/" title="Unflag this package">Click here to unflag</a></li>
                <li><a href="unflag/all/" title="Unflag all matching pkgbase">Click here to unflag all split packages</a></li>
                {% endif %}
                {% else %}
                <li><a href="flag/" title="Flag {{ pkg.pkgname }} as out-of-date">Flag Package Out-of-Date</a>
                <a href="/packages/flaghelp/"
                    title="Get help on package flagging"
                    onclick="return !window.open('/packages/flaghelp/','FlagHelp',
                    'height=350,width=450,location=no,scrollbars=yes,menubars=no,toolbars=no,resizable=no');">(?)</a></li>
                {% endif %}
                <li><a href="download/" rel="nofollow" title="Download {{ pkg.pkgname }} from mirror">Download From Mirror</a></li>
            </ul>

            {% if perms.main.change_package %}
            <form id="pkg-action" method="post" action="/packages/update/">{% csrf_token %}
                <div><input type="hidden" name="pkgid" value="{{ pkg.id }}" /></div>
                <p>{% if user in pkg.maintainers %}
                    <input title="Orphan this package" type="submit" name="disown" value="Disown"/>
                    {% else %}
                    <input title="Adopt this package" type="submit" name="adopt" value="Adopt"/>
                 {% endif %}</p>
            </form>
            {% endif %}
        </div>

        {% with pkg.elsewhere as others %}{% if others %}
        <div id="elsewhere" class="widget">
            <h4>Versions Elsewhere</h4>
            <ul>
                {% for o in others %}
                <li><a href="{{ o.get_absolute_url }}"
                    title="Package details for {{ o.pkgname }}">{{ o.pkgname }} {{ o.full_version }} [{{ o.repo.name|lower }}] ({{ o.arch.name }})</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}{% endwith %}

    </div><!-- #actionlist -->

    {% cache 300 package-details-pkginfo pkg.id %}
    <table id="pkginfo">
        <tr>
            <th>Architecture:</th>
            <td><a href="/packages/?arch={{ pkg.arch.name }}"
                    title="Browse packages for {{ pkg.arch.name }} architecture">{{ pkg.arch.name }}</a></td>
        </tr><tr>
            <th>Repository:</th>
            <td><a href="/packages/?repo={{ pkg.repo.name|capfirst }}"
                    title="Browse the {{ pkg.repo.name|capfirst }} repository">{{ pkg.repo.name|capfirst }}</a></td>
        </tr>
        {% ifequal pkg.pkgname pkg.pkgbase %}
        {% with pkg.split_packages as splits %}{% if splits %}
        <tr>
            <th>Split Packages:</th>
            <td>{% for s in splits %}{% pkg_details_link s %}<br/>{% endfor %}</td>
        </tr>
        {% endif %}{% endwith %}
        {% else %}
        <tr>
            <th>Base Package:</th>
            {% if pkg.base_package %}
            <td>{% pkg_details_link pkg.base_package %}</td>
            {% else %}
            <td><a href="../{{ pkg.pkgbase }}/"
                    title="Split package details for {{ pkg.pkgbase }}">{{ pkg.pkgbase }}</a></td>
            {% endif %}
        </tr>
        {% endifequal %}
        <tr>
            <th>Description:</th>
            <td class="wrap">{{ pkg.pkgdesc|default:"" }}</td>
        </tr><tr>
            <th>Upstream URL:</th>
            <td>{% if pkg.url %}<a href="{{ pkg.url }}"
                    title="Visit the website for {{ pkg.pkgname }}">{{ pkg.url|url_unquote }}</a>{% endif %}</td>
        </tr><tr>
            <th>License(s):</th>
            <td>{{ pkg.licenses.all|join:", " }}</td>
        </tr><tr>
            <th>Groups:</th>
            {% with pkg.groups.all as groups %}
            <td>{% if groups %}
                {% for g in groups %}
                <a href="/groups/{{ pkg.arch.name }}/{{ g.name }}/"
                    title="Group details for {{ g.name }}">{{ g.name }}</a><br/>
                {% endfor %}
                {% else %}None{% endif %}
            </td>
            {% endwith %}
        </tr>
        {% with pkg.provides.all as provides %}
        {% if provides %}
        <tr>
            <th>Provides:</th>
            <td>{% for p in provides %}{{ p.name }}{% if p.version %}={{ p.version }}{% endif %}<br/>{% endfor %}</td>
        </tr>
        {% endif %}
        {% endwith %}
        <tr>
            <th>Maintainers:</th>
            {% with pkg.maintainers as maints %}
            <td>{% if maints %}
                {% for m in maints %}
                {% maintainer_link m %}<br/>
                {% endfor %}
                {% else %}Orphan{% endif %}
            </td>
            {% endwith %}
        </tr><tr>
            <th>Package Size:</th>
            <td>{{ pkg.compressed_size|filesizeformat }}</td>
        </tr><tr>
            <th>Installed Size:</th>
            <td>{{ pkg.installed_size|filesizeformat }}</td>
        </tr><tr>
            <th>Last Packager:</th>
            <td>{% with pkg.packager as pkgr %}{% if pkgr %}{% packager_link pkgr %}{% else %}{{ pkg.packager_str }}{% endif %}{% endwith %}</td>
        </tr><tr>
            <th>Signed:</th>
            <td>{{ pkg.is_signed|yesno|capfirst }}</td>
        </tr><tr>
            <th>Build Date:</th>
            <td>{{ pkg.build_date|date:"DATETIME_FORMAT" }} UTC</td>
        </tr><tr>
            <th>Last Updated:</th>
            <td>{{ pkg.last_update|date }}</td>
        </tr>
    </table>

    <div id="metadata">

        {% with pkg.get_depends as deps %}
        <div id="pkgdeps" class="listing">

            <h3 title="{{ pkg.pkgname }} has the following dependencies">
                Dependencies ({{deps|length}})</h3>

            {% if deps %}
            <ul>
                {% for depend in deps %}
                {% ifequal depend.pkg None %}
                {% if depend.providers %}
                <li>{{ depend.dep.depname }} <span class="virtual-dep">({% multi_pkg_details depend.providers %})</span></li>
                {% else %}<li>{{ depend.dep.depname }} <span class="virtual-dep">(virtual)</span></li>
                {% endif %}
                {% else %}
                <li>{% pkg_details_link depend.pkg %}{{ depend.dep.depvcmp|default:"" }}
                {% if depend.pkg.repo.testing %}<span class="testing-dep">(testing)</span>{% endif %}
                {% if depend.dep.optional %}<span class="opt-dep">(optional)</span>{% endif %}
                {% if depend.dep.description %}- <span class="dep-desc">{{ depend.dep.description }}</span>{% endif %}
                </li>
                {% endifequal %}
                {% endfor %}
            </ul>
            {% endif %}

        </div><!-- #pkgdeps -->
        {% endwith %}

        {% with pkg.get_requiredby as rqdby %}
        <div id="pkgreqs" class="listing">

            <h3 title="Packages that require {{ pkg.pkgname }}">
                Required By ({{rqdby|length}})</h3>

            {% if rqdby %}
            <ul>
                {% for req in rqdby %}
                <li>{% pkg_details_link req.pkg %}
                {% if req.depname != pkg.pkgname %}<span class="virtual-dep">(requires {{ req.depname }})</span>{% endif %}
                {% if req.pkg.repo.testing %}<span class="testing-dep">(testing)</span>{% endif %}
                {% if req.optional %}<span class="opt-dep">(optional)</span>{% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </div><!-- #pkgreqs -->
        {% endwith %}

        <div id="pkgfiles" class="listing">

            <h3 title="Complete list of files contained within this package">
                Package Contents</h3>

            <div id="pkgfilelist">
                <p><a id="filelink" href="files/"
                    title="Click to view the complete file list for {{ pkg.pkgname }}">
                    View the file list for {{ pkg.pkgname }}</a></p>
            </div>

        </div><!-- #pkgfiles -->

    </div><!-- #metadata -->
    {% endcache %}

</div><!-- #pkgdetails -->

{% load cdn %}{% jquery %}
<script type="text/javascript" src="{{ STATIC_URL }}archweb.js"></script>
<script type="text/javascript">
$(document).ready(ajaxifyFiles);
</script>
{% endblock %}
