{% spaceless %}
{% if group.signoffs %}
<ul class="signoff-list">
    {% for signoff in group.signoffs %}
    <li class="signed-username" title="Signed off by {{ signoff.user }}">{{ signoff.user }}{% if signoff.revoked %} (revoked){% endif %}</li>
    {% endfor %}
</ul>
{% endif %}
{% if group.user_signed_off %}
<div>
    <a class="signoff-link" href="{{ group.package.get_absolute_url }}signoff/revoke/"
        title="Revoke signoff {{ group.pkgbase }} for {{ group.arch }}">Revoke Signoff</a></div>
{% else %}
{% if not group.specification.known_bad and group.specification.enabled %}
<div>
    <a class="signoff-link" href="{{ group.package.get_absolute_url }}signoff/"
        title="Signoff {{ group.pkgbase }} for {{ group.arch }}">Signoff</a></div>
{% endif %}
{% endif %}
{% if user == group.packager or user in group.maintainers %}
<div>
    <a class="signoff-options" href="{{ group.package.get_absolute_url }}signoff/options/">Signoff Options</a>
</div>
{% endif %}
{% endspaceless %}
