{% extends "base.html" %}
{% load cache %}
{% load cdn %}

{% block title %}Arch Linux - Donate{% endblock %}

{% block content %}
{% cache 600 donations secure %}
<div id="donations" class="box">

    <h2>Donate to Arch Linux</h2>

    <p>Arch Linux survives because of the tireless efforts of many people in
    the community and the core development circle.  None of us are paid for
    our work, and we don't have the personal funds to sustain server costs
    ourselves.</p>

    <p>There are many ways to help support Arch Linux.  If technical development,
    documentation, or support aren't your strong points, you could certainly
    help us by dropping a few bucks our way.</p>

    <p>Many thanks!</p>

    <h3>Monetary donations</h3>

    <p>Financial contributions are accepted via <a href="https://co.clickandpledge.com/Default.aspx?WID=47294" title="Donate via Click&amp;Pledge to Arch Linux"/>Click&amp;Pledge</a>.
    Arch Linux is a member project of the
    <a href="http://www.spi-inc.org/">Software in the Public Interest, Inc.</a>
    non-profit corporation. Funds are used for hosting costs, server hardware
    upgrades, and more. You are encouraged to learn more about the SPI, as well
    as <a href="http://www.spi-inc.org/donations/">how donations work</a>.</p>

    <a href="https://co.clickandpledge.com/Default.aspx?WID=47294">
        <img src="{% cdnprefix %}/media/CP_EN_BK_S_001.gif" alt="Donate via Click&amp;Pledge to Arch Linux" title="Donate via Click&amp;Pledge to Arch Linux"/>
    </a>

    <h3>Commercial sponsors and contributions</h3>

    <p>We'd like to thank <a href="http://www.velocitynetwork.net/?hosting_by=ArchLinux"
        title="velocity network">Velocity Network</a> for contributing space
    in a server rack, bandwidth, and electricity for our main server.</p>

    <a href="http://www.velocitynetwork.net/?hosting_by=ArchLinux"
        title="velocity network"><img src="{% cdnprefix %}/media/vnet_button.png" class="sponsor-btn-vnet"
        title="" alt="velocity network - it's about time" /></a>

    <p>We also wish to extend a special Thank You to <a
        href="https://www.sevenl.net/?utm_source=archlinux-org&amp;utm_medium=sponsored-banner&amp;utm_campaign=thanks-to-sevenl"
        title="SevenL Networks - Dedicated Arch Linux servers">SevenL Networks</a>
    for their generous and ongoing contribution of a dedicated Arch Linux
    server. You too can have a dedicated Arch Linux server hosted by SevenL...
    head over to their website for more details.</p>

    <a href="https://www.sevenl.net/?utm_source=archlinux-org&amp;utm_medium=sponsored-banner&amp;utm_campaign=thanks-to-sevenl"
        title="SevenL Networks - Dedicated Arch Linux servers"><img src="{% cdnprefix %}/media/sevenl_button.png"
        class="sponsor-btn-sevenl" title="A big Thank You to SevenL Networks for their generous contribution"
        alt="We would like to express our thanks to SevenL Networks for their generous contribution" /></a>

    <p>More thanks go to <a href="http://www.airvm.com/ArchLinux"
        title="AirVM.com">AirVM.com</a> for contributing a VMWare-based Virtual Machine.</p>

    <a href="http://www.airvm.com/ArchLinux"
        title="AirVM.com - Your Green Technology Partner"><img src="{% cdnprefix %}/media/airvm_button.png"
        class="sponsor-btn-airvm" title="AirVM.com - Your Green Technology Partner" alt="AirVM.com - Your Green Technology Partner" /></a>

    <h3>Past donors</h3>

    <div id="donor-list">
        <ul>
            {% for donor in donors %}
            <li>{{ donor.name }}</li>{% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
    <p>A huge thanks to you all for your contributions!</p>
</div>
{% endcache %}
{% endblock %}
