{% extends "base.html" %}
{% load markup cache cdn %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="Arch Linux News Updates" href="/feeds/news/" />
<link rel="alternate" type="application/rss+xml" title="Arch Linux Package Updates" href="/feeds/packages/" />
{% endblock %}

{% block content_left %}
{% cache 300 main-page-left secure %}
<div id="intro" class="box">

    <h2>A simple, lightweight distribution</h2>

    <p>You've reached the website for <strong>Arch Linux</strong>, a
    lightweight and flexible Linux® distribution that tries to Keep It
    Simple.</p>

    <p>Currently we have official packages optimized for the i686 and
    x86-64 architectures. We complement our official package sets with a
    <a href="https://aur.archlinux.org/" title="Arch User Repository (AUR)">
        community-operated package repository</a> that grows in size and
    quality each and every day.</p>

    <p>Our strong community is diverse and helpful, and we pride ourselves
    on the range of skillsets and uses for Arch that stem from it. Please
    check out our <a href="https://bbs.archlinux.org/" title="Arch Forums">forums</a>
    and <a href="http://mailman.archlinux.org/mailman/listinfo/"
        title="Arch Mailing Lists">mailing lists</a>
    to get your feet wet.  Also glance through our <a href="https://wiki.archlinux.org/"
        title="Arch Wiki">wiki</a>
    if you want to learn more about Arch.</p>

    <p class="readmore"><a href="{% url page-about %}"
        title="Learn more about Arch Linux">Learn more...</a></p>

</div><!-- #intro -->

<div id="news">

    <h3>
        <a href="{% url news-list %}" title="Browse the news archives">Latest News</a>
        <span class="arrow"></span>
    </h3>

    <a href="/feeds/news/" title="Arch News RSS Feed"
        class="rss-icon"><img src="{% cdnprefix %}/media/rss.png" alt="RSS Feed" /></a>

    {% for news in news_updates %}
    {% if forloop.counter0 < 5 %}
    <h4>
        <a href="{{ news.get_absolute_url }}"
            title="View full article: {{ news.title }}">{{ news.title }}</a>
    </h4>
    <p class="timestamp">{{ news.postdate|date }}</p>
    <div class="article-content">{{ news.content|markdown|truncatewords_html:75 }}</div>
    {% else %}
    {% if forloop.counter0 == 5 %}
    <h3>
        <a href="{% url news-list %}"
            title="Browse the news archives">Older News</a>
        <span class="arrow"></span>
    </h3>
    <dl class="newslist">
    {% endif %}
        <dt>{{ news.postdate|date }}</dt>
        <dd>
            <a href="{{ news.get_absolute_url }}"
                title="View full article: {{ news.title }}">{{ news.title }}</a>
        </dd>
    {% if forloop.last %}
    </dl>
    {% endif %}
    {% endif %}
    {% endfor %}

</div><!-- #news -->
{% endcache %}
{% endblock %}

{% block content_right %}
{% cache 300 main-page-right secure %}
<div id="pkgsearch" class="widget">

    <form id="pkgsearch-form" method="get" action="/packages/">
        <fieldset>
            <label for="pkgsearch-field">Package Search:</label>
            <input id="pkgsearch-field" type="text" name="q" size="18" maxlength="200" />
        </fieldset>
    </form>

</div>

<div id="pkg-updates" class="widget box">

    <h3>Recent Updates <span class="more">(<a href="/packages/?sort=-last_update"
            title="Browse all of the latest packages">more</a>)</span></h3>

    <a href="/feeds/packages/" title="Arch Package Updates RSS Feed"
        class="rss-icon"><img src="{% cdnprefix %}/media/rss.png" alt="RSS Feed" /></a>

    <table>
        {% for update in pkg_updates %}
        <tr>
            <td class="pkg-name"><span class="{{ update.classes|join:' ' }}">{{ update.pkgbase }} {{ update.version }}</span></td>
            <td class="pkg-arch">
                {% for pkg in update.package_links %}<a href="{{ pkg.get_absolute_url }}"
                    title="Details for {{ pkg.pkgname }} [{{ pkg.repo|lower }}]">{{ pkg.arch }}</a>{% if not forloop.last %}/{% endif %}{% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="nav-sidebar" class="widget">

    <h4>Documentation</h4>

    <ul>
        <li><a href="https://wiki.archlinux.org/"
            title="Community documentation">Wiki</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/Official_Arch_Linux_Install_Guide"
            title="Official installation guide">Official Installation Guide</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/Beginners'_Guide"
            title="A good place to start for beginners">Unofficial Beginners' Guide</a></li>
    </ul>

    <h4>Community</h4>

    <ul>
        <li><a href="http://mailman.archlinux.org/mailman/listinfo/"
            title="Community and developer mailing lists">Mailing Lists</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/IRC_Channels"
            title="Official and regional IRC communities">IRC Channels</a></li>
        <li><a href="http://planet.archlinux.org/"
            title="Arch in the blogosphere">Planet Arch</a></li>
        <li><a href="http://rollingrelease.com/"
            title="Community online magazine">Rolling Release Ezine</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/International_Communities"
            title="Arch communities in your native language">International Communities</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/Related_Projects"
            title="Projects that are in some way related to Arch Linux">Related Projects</a></li>
    </ul>

    <h4>Support</h4>

    <ul>
        <li><a href="{% url page-donate %}" title="Help support Arch Linux">Donate</a></li>
        <li><a href="http://schwag.archlinux.ca/"
            title="USB keys, jewellery, case badges">Arch Schwag</a></li>
        <li><a href="http://www.zazzle.com/archlinux*"
            title="T-shirts, mugs, mouse pads, hoodies, posters, skateboards, shoes, etc.">Products via Zazzle</a></li>
        <li><a href="http://www.freewear.org/?page=list_items&amp;org=Archlinux"
            title="T-shirts">T-shirts via Freewear</a></li>
    </ul>

    <h4>Tools</h4>

    <ul>
        <li><a href="{% url mirrorlist %}"
            title="Get a custom mirrorlist from our database">Mirrorlist Updater</a></li>
        <li><a href="{% url mirror-status %}"
            title="Check the status of all known mirrors">Mirror Status</a></li>
        <li><a href="/packages/differences/"
            title="See differences in packages between available architectures">Differences Reports</a>
        <img src="{% cdnprefix %}/media/new.png" alt="New"/></li>
    </ul>

    <h4>Development</h4>

    <ul>
        <li><a href="{% url page-keys %}"
            title="Package/Database signing master keys">Master Keys</a>
        <img src="{% cdnprefix %}/media/new.png" alt="New"/></li>
        <li><a href="/packages/"
            title="View/search the package repository database">Packages</a></li>
        <li><a href="/groups/"
            title="View the available package groups">Package Groups</a></li>
        <li><a href="{% url visualize-index %}"
            title="View visualizations">Visualizations</a>
        <img src="{% cdnprefix %}/media/new.png" alt="New"/></li>
        <li><a href="{% url page-svn %}"
            title="View SVN entries for packages">SVN Repositories</a></li>
        <li><a href="http://projects.archlinux.org/"
            title="Official Arch projects (git)">Projects in Git</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/DeveloperWiki"
            title="Developer Wiki articles">DeveloperWiki</a></li>
        <li><a href="/todolists/"
            title="Developer Todo Lists">Todo Lists</a></li>
        <li><a href="{% url releng-test-overview %}"
            title="Releng Testbuild Feedback">Releng Testbuild Feedback</a></li>
    </ul>

    <h4>About</h4>

    <ul>
        <li><a href="https://wiki.archlinux.org/index.php/ArchLinux:About"
            title="Learn more about Arch Linux">About Arch</a></li>
        <li><a href="/download/" title="Get Arch Linux">Download Arch</a></li>
        <li><a href="https://wiki.archlinux.org/index.php/Arch_Linux_Press_Review"
            title="Arch Linux in the media">Press Coverage</a></li>
        <li><a href="{% url page-art %}" title="Arch logos and other artwork for promotional use">Logos &amp; Artwork</a></li>
        <li><a href="{% url news-list %}" title="News Archives">News Archives</a></li>
        <li><a href="/feeds/" title="Various RSS Feeds">RSS Feeds</a></li>
        <li><a href="{% url page-devs %}" title="Active developers">Developer Profiles</a></li>
        <li><a href="{% url page-tus %}" title="Active Trusted Users (TUs)">Trusted User Profiles</a></li>
        <li><a href="{% url page-fellows %}" title="Retired Developers">Fellows Profiles</a></li>
    </ul>

</div><!-- #nav-sidebar -->

<div id="home-donate-button" class="widget">
    <a href="https://co.clickandpledge.com/Default.aspx?WID=47294">
        <img src="{% cdnprefix %}/media/CP_EN_BK_S_001.gif" alt="Donate via Click&amp;Pledge to Arch Linux" title="Donate via Click&amp;Pledge to Arch Linux"/>
    </a>
</div>

<div id="arch-sponsors" class="widget">

    <a href="http://www.velocitynetwork.net/?hosting_by=ArchLinux" title="Velocity Network">
        <img src="{% cdnprefix %}/media/vnet_button.png" alt="Velocity Network - It's about time" />
    </a>
    <a href="https://www.sevenl.net/?utm_source=archlinux-org&amp;utm_medium=sponsored-banner&amp;utm_campaign=thanks-to-sevenl" title="SevenL Networks - Dedicated Arch Linux servers">
        <img src="{% cdnprefix %}/media/sevenl_button.png" title="A big Thank You to SevenL Networks for their generous contribution" alt="We would like to express our thanks to SevenL Networks for their generous contribution" />
    </a>
    <a href="http://www.airvm.com/ArchLinux" title="AirVM.com - Your Green Technology Partner">
        <img src="{% cdnprefix %}/media/airvm_button.png" title="AirVM.com - Your Green Technology Partner" alt="AirVM.com - Your Green Technology Partner" />
    </a>

</div>
{% endcache %}
{% endblock %}
