{% extends "base.html" %}

{% block title %}Arch Linux - Todo Lists{% endblock %}

{% block content %}
<div id="dev-todo" class="box">

    <h2>Package Todo Lists</h2>

    {% if perms.main.add_todolist %}
    <ul class="admin-actions">
        <li><a href="/todo/add/" title="Add new todo list">Add Todo List</a></li>
    </ul>
    {% endif %}

    <table id="dev-todo-lists" class="results todo-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Creator</th>
                <th>Description</th>
                <th>Package Count</th>
                <th>Incomplete Count</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{{ list.get_absolute_url }}"
                        title="View todo list: {{ list.name }}">{{ list.name }}</a></td>
                <td>{{ list.date_added|date }}</td>
                <td>{{ list.creator.get_full_name }}</td>
                <td class="wrap">{{ list.description|urlize }}</td>
                <td>{{ list.pkg_count }}</td>
                <td>{{ list.incomplete_count }}</td>
                <td>{% ifequal list.incomplete_count 0 %}<span class="complete">Complete</span>
                    {% else %}<span class="incomplete">Incomplete</span>{% endifequal %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load cdn %}{% jquery %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}archweb.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // I'm not sure why it didn't autodetect digit, but it has to be explicit
    // http://stackoverflow.com/questions/302749/jquery-tablesorter-problem
    $(".results").tablesorter({widgets: ['zebra'], sortList: [[1,1]],
        headers: { 4: { sorter: 'digit' }, 5: { sorter: 'digit' } } });
});
</script>
{% endblock %}
